<div id="tabs">
  <ul>
    <li><div class="background"></div><a href="#home">home</a></li>
    <%- @photosets.each do |p| -%>
      <li>
        <div class="background"></div>
        <a href="<%= photoset_path(p) %>" data-id="<%= p.to_s %>"><%= p.title.downcase %></a>
      </li>
    <%- end -%>
  </ul>
  
  <div id="home">
    <div class="photoset">
      <div id="thumbshome" class="thumb-container">
        <div class="logo"></div>
        <ul class="thumbs noscript">
          <%- @home_photoset.photos.each do |p| -%>
            <li>
              <a class="thumb" href="<%= p.source("Large") %>">
                <img src="<%= p.source("Square") %>" />
              </a>
            </li>
          <%- end -%>
        </ul>
      </div>
      <div id="slideshowhome" class="slideshow"></div>
    </div>
  </div>
</div>


<script>
(function($) {
  function initializeSlideshow(id) {
    $("#thumbs"+id).galleriffic({
      delay: 5000,
      controlsContainerSel: "#controls"+id,
      imageContainerSel: "#slideshow"+id,
      playLinkText: "on",
      pauseLinkText: "off",
      renderNavControls: false,
      autoStart: true
    });
  }
  
  $(function() {
    $("#tabs").tabs({
      load: function(e, ui) {
        var id = $(ui.tab).attr("data-id");
        initializeSlideshow(id);
      }
    });
    initializeSlideshow("home");
    
    $("#tabs .ui-tabs-nav li").hover(function() {
      $(this).not(".ui-tabs-selected").find(".background").stop().css({ top: 30 }).animate({ top: 0, opacity: 1 }, 400);
    }, function() {
      var $this = $(this);
      if (!$this.is(".ui-tabs-selected")) {
        $this.find(".background").stop().animate({ top: 30, opacity: 0 }, 100);
      } else {
        $this.find(".background").attr("style", "");
      }
    });
  });
})(jQuery);
</script>