<div id="tabs">
  <ul>
    <%- @photosets.reverse.each do |p| -%>
      <li>
        <a href="<%= photoset_path(p) %>" data-id="<%= p.to_s %>"><div class="<%= p.title.downcase %>"></div></a>
      </li>
    <%- end -%>
    <li><a href="#home"><div class="home"></div></a></li>
  </ul>
  
  <div id="home">
    <div class="photoset">
      <div id="thumbshome" class="thumb-container">
        <div class="logo"></div>
        <ul class="thumbs noscript">
          <%- @home_photoset.photos.each do |p| -%>
            <li>
              <a class="thumb" href="<%= p.source("Large") %>">
                <img src="<%= p.source("Square") %>" />
              </a>
            </li>
          <%- end -%>
        </ul>
      </div>
      <div id="slideshowhome" class="slideshow"></div>
    </div>
  </div>
</div>


<script>
(function($) {
  function initializeSlideshow(id) {
    $("#thumbs"+id).galleriffic({
      delay: 5000,
      controlsContainerSel: "#controls"+id,
      imageContainerSel: "#slideshow"+id,
      playLinkText: "on",
      pauseLinkText: "off",
      renderNavControls: false,
      autoStart: true
    });
  }
  
  $(function() {
    $("#tabs").tabs({
      selected: $("#tabs > ul > li").length - 1,
      load: function(e, ui) {
        var id = $(ui.tab).attr("data-id");
        initializeSlideshow(id);
      }
    });
    initializeSlideshow("home");
    
  });
})(jQuery);
</script>