<div id="tabs">
  <ul>
    <%- @photosets.reverse.each do |p| -%>
      <li>
        <a href="<%= photoset_path(p) %>" data-id="<%= p.to_s %>"><div class="<%= p.title.downcase %>"></div></a>
      </li>
    <%- end -%>
    <li><a href="#ps-home"><div class="home"></div></a></li>
  </ul>
  
  <div id="ps-home">
    <div class="ps">
      <%- @home_photoset.photos.each do |p| -%>
       <img src="<%= p.source("Large") %>" rel="<%= p.source("Square") %>"> />
      <%- end -%>
    </div>
  </div>
</div>


<script>
(function($) {
  function initializeSlideshow(id) {
    $("#ps-"+id+" div.ps").nivoSlider({
      effect: "sliceUpDown",
      animSpeed: 1000,
      pauseTime: 7000,
      controlNavThumbs: true,
      controlNavThumbsFromRel: true,
      pauseOnHover: false,
      directionNav: false
    });
    
  }
  
  $(function() {
    $("#tabs").tabs({
      selected: $("#tabs > ul > li").length - 1,
      load: function(e, ui) {
        var id = $(ui.tab).attr("data-id");
        initializeSlideshow(id);
      }
    });
    initializeSlideshow("home");
  });
})(jQuery);
</script>