<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Sunny Wan Photography</title>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' %>
  <%= javascript_include_tag :base, :cache => "base" %>
  <%= stylesheet_link_tag :desktop, :cache => "desktop" %>
</head>

<body>
  <div class="page">
    <%= yield %>
  </div>
</body>
</html>